mixin range-slider(min= 0, max= 999999, currency= "&#8381;")
  - let zeroMin= "000", zeroMax= "000"
  if(min % 1000 !== 0)
    zeroMin= (min % 1000) * 1000
  if(max % 1000 !== 0)
    zeroMax= (max % 1000) * 1000

  .range-slider-block
    h3.range-slider__title Range slider
    .range-slider__value
      span.range-slider__value--min= `${min / 1000} ${zeroMin}`
      span.unicode!= currency
      span.range-slider__value--max= ` - ${max / 1000} ${zeroMax}`
      span.unicode!= currency
    .range-slider__slider
      .range-slider__scale
        .range-slider__range