//- checkboxes list expandable

include ../checkbox/checkbox.pug

mixin checkboxList(listName = "", options = [], isExpandable = true, isExpanded = false)
  - let listStyle= "checkbox-list__title";
  - let expandList= "checkbox-list__content"

  if(isExpandable)
    - listStyle= `${listStyle}--expandable`
    - expandList= `${expandList}--expandable`

  if(isExpanded)
    - listStyle= `${listStyle} ${listStyle}--open`
    - expandList= `${expandList} checkbox-list--open`

  .checkbox-list
    h3(class= listStyle)= listName

    ul(class= expandList)
      each item in options
        +checkbox(item)

