//- текстовое поле - общее

mixin textField(options)
  - const {title = "", style = "", expanded = "", withDatepicker = "", startOrEndDatepicker = "", rangeAttributes= {}, type = "text", name = "", value = "", placeholder = "", placeholderColor = "", ariaLabel = "", description = "", readonly = true, } = options;

  .input-block
    - const isDatepicker= "datepicker-here"; // служебный класс для инициализации плагина datepicker;
    - let fieldStyle= ""; // определяет базу для сборки класса;
    - let inputStyle= "input__field"; // определяет базовую иконка в правой части (отсутствует);

    if (style== "dropdown")
      - fieldStyle= "dropdown"

    if (style== "subscribe")
      - fieldStyle= "subscribe"

    if (placeholderColor)
      - inputStyle= `${inputStyle} ${inputStyle}${placeholderColor}`

    if (expanded)
      - inputStyle= `${inputStyle} ${inputStyle}--expanded`

    if (withDatepicker)
      - inputStyle= `${inputStyle} ${isDatepicker} ${startOrEndDatepicker}`

    label(class= fieldStyle)
      h3.input__title= title

      if (description)
        .input__description= description

      input(class= inputStyle, type= type, name= name, value= value, placeholder= placeholder, aria-label= ariaLabel, readonly= readonly)&attributes(rangeAttributes)

//- data-multiple-dates-separator= " - ",
  options.title: заголовок поля ввода "Text field";
  options.style: определяет наличие иконки в правой части:
                "" - без иконки,
                dropdown - стрелочка вниз (для дропдаунов)
                subscribe - стрелка вправо (подписка);
  options.withDatepicker: выпадающий календарь - true или отсутствует;
  options.expanded: меняет стиль при разворачивании инпута - true или отсутствует;
  options.type: тип текстового поля - text, email или date (?????);
  options.name: значение обязательного поля name для инпута;
  options.placeholder: то,что написано в плейсхолдере;
  options.placeholderСolor: цвет текста плейсхолдера,
                              по умолчанию $primary-color, при "--light" - $secondary-color;
  options.ariaLabel: содержание атрибута aria-label для скринридеров;
  options.description: поля описания назначения инпута
                      (в правой части) - присутствует только в UI-Kit:
                       - Default
                       - Hover / Focus для обозначения наведенного состояния,
                       - Expanded для развернутого дропдауна;

//-textField({
  //title: "Text field",
  //style: "",
  //withDatepicker: true,
  //expanded: true,
  //description: "Default",
  //type: "text",
  //name: "email",
  //placeholder: "Email",
  //placeholderСolor: "--light",
  //ariaLabel: "input",
  //})*/