mixin pagination(startPage, maxPageNumber)
  .pagination-block
    span.back.visually-hidden
      i.material-icons arrow_back
    a.startPage.visually-hidden(href="/some-address/change-me_page1")= "1"
    span.prevPages.visually-hidden= "..."
    a.page1.currentPage(href="/some-address/change-me_pageN1")= startPage
    a.page2(href="/some-address/change-me_pageN2")= startPage + 1
    a.page3(href="/some-address/change-me_pageN3")= startPage + 2
    span.nextPages= "..."
    a.maxPageNumber(href="/some-address/change-me_pageMax")= maxPageNumber
    span.forward
      i.material-icons arrow_forward

    .discription 1 – 12 из 100+ вариантов аренды


    //- var current = 1;
      //while corrent < startPage + 3
        //i.material-icons star
        //- n++

    //- var n = 1
      //while n < rateNumber - value + 1
        //i.material-icons star_border
        //-  n++

//- var maxPageNumber = 15; // - максимальное кол-во страниц
//- var startPage = 1; // - начальная (активная) страница